*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
height:100%;
background:black;
overflow:hidden;
font-family:Arial;
}

.container{
height:100vh;
display:flex;
flex-direction:column;
}

.stream-box{
flex:1;
position:relative;
overflow:hidden;
}

.stream{
position:absolute;
width:100%;
height:100%;
border:none;
object-fit:cover;
}

.video-js{
position:absolute !important;
width:100% !important;
height:100% !important;
}

.label{
position:absolute;
top:10px;
left:50%;
transform:translateX(-50%);
background:rgba(0,0,0,0.6);
color:white;
padding:5px 12px;
font-size:14px;
border-radius:6px;
z-index:10;
}
